/* Apply styles directly to the button without a custom class */
Button {
    -fx-background-color: #474745; /* Red color */
}

Button:hover {
    -fx-background-color: #646464; /* Lighter red when hovered */
}

Button:pressed {
    -fx-background-color: #776767; /* Even lighter red when pressed */
}