Button {
    -fx-background-color: #474745;
}

Button:hover {
    -fx-background-color: #646464;
}

Button:pressed {
    -fx-background-color: #776767;
}

#loginButton:hover {
    -fx-border-color: #F14246;
}

#loginButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
}