/* Apply styles directly to the button without a custom class */
Button {
    -fx-background-color: #525252; /* Red color */
}

Button:hover {
    -fx-background-color: #646464; /* Lighter red when hovered */
}

Button:pressed {
    -fx-background-color: #7767676; /* Even lighter red when pressed */
}