.chart-plot-background {
    -fx-background-color: #414141;
}
.chart-legend-item-symbol {
-fx-background-color: transparent, transparent;
}
.default-color0.chart-series-line {
    -fx-stroke: #EC625F;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #EC625F, #525252 ;
}

.chart-line-symbol {
    -fx-background-color: transparent, transparent ;
}

.chart-title {
    -fx-text-fill: white;
}
.chart-bar {
    -fx-bar-fill: #EC625F;
}