.chart-plot-background {
    -fx-background-color: #31312F;
}
.chart-legend-item-symbol {
-fx-background-color: transparent, transparent;
}
.default-color0.chart-series-line {
    -fx-stroke: #F14246;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #F14246, #474745 ;
}

.chart-line-symbol {
    -fx-background-color: transparent, transparent ;
}

.chart-title {
    -fx-text-fill: white;
}
.chart-bar {
    -fx-bar-fill: #F14246;
}