.button:hover {
    -fx-text-fill: white;
}
.button {
    -fx-text-fill: #909090;
}
.button .image-view {
    -fx-graphic: url("/images/imageGrey.png");
}

.button:hover .image-view {
    -fx-graphic: url("/images/image.png");
}

