.button {
    -fx-cursor: hand;
}
Button {
    -fx-background-color:  #F14246;
}
Button:hover {
    -fx-background-color:  #F6615E;
}
Button:pressed {
    -fx-background-color: #FF6360; /* Even lighter red when pressed */
}