.text-area {
    -fx-text-fill: white; /* Black text color */
    -fx-control-inner-background: #414141; /* Red background color */
}
.text-area .scroll-pane .scroll-bar:vertical,
.text-area .scroll-pane .scroll-bar:vertical .track,
.text-area .scroll-pane .scroll-bar:vertical .track-background,
.text-area .scroll-pane .scroll-bar:horizontal,
.text-area .scroll-pane .scroll-bar:horizontal .track,
.text-area .scroll-pane .scroll-bar:horizontal .track-background {
    -fx-background-color: #313131; /* Green scroll bar color */
}

.text-area .scroll-pane .scroll-bar .increment-button,
.text-area .scroll-pane .scroll-bar .decrement-button {
    -fx-opacity: 1.0; /* Full opacity for scroll buttons */
    -fx-padding: 2;
}

.text-area .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #525252; /* Blue thumb color for vertical scroll bar */
}

.text-area .scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #525252; /* Blue thumb color for horizontal scroll bar */
}
.text-area .scroll-pane .scroll-bar:corner {
    -fx-background-color: #525252; /* Blue color for the corner square */
}