/* style.css */

.button:hover {
    -fx-text-fill: white; /* Change text color to red on hover */
}

.button:hover .image-view {
    -fx-graphic: url("../images/volumes.png"); /* Set the path to your hover image */
}
.button {
    -fx-text-fill: #909090; /* Set the default text color to gray */
}